@use "@/app/styles/variables" as variables;
body {
  font-family: var(--font-family-primary);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.page-container {
  max-width: variables.$container-width;
  padding-inline: 12px;
  margin: 0 auto;
}
