body {
  font-family: var(--font-family-primary);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.container {
  max-width: 1314px;
  margin: 0 auto;
  padding: 0 12px;
}
