@use "@/app/styles/variables" as variables;
@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;
@use "@/shared/ui/overlay-spinner/overlay-spinner.scss" as *;
@use "@/features/cart/ui/cart.scss" as *;
@use "@/shared/ui/toast/toast.scss" as *;

body {
  font-family: var(--font-family-primary);
  background-color: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

.page-container {
  @include mixins.pageContainer();
}

.title {
  font-family: var(--font-family-primary);
  font-weight: 800;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: functions.fluidValue(14px, 30px, 360px, 1920px);
  color: var(--foreground);
}

.title-h2 {
  @extend .title;
  font-size: functions.fluidValue(20px, 45px, 360px, 1920px);

  &_color_secondary {
    color: var(--foreground-secondary);
  }
}

.title-description {
  font-family: var(--font-family-primary);
  font-weight: 500;
  line-height: functions.fluidValue(18px, 27px, 360px, 1920px);
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--foreground);
}

.title-h2-description {
  @extend .title-description;
  font-size: functions.fluidValue(14px, 18px, 360px, 1920px);
  margin-inline: auto;

  &_color_secondary {
    color: var(--foreground-secondary);
  }
}

.lazy {
  opacity: 0 !important;
  visibility: hidden !important;
  transition: all 0.3s ease-in-out !important;
}

#private-content {
  display: none;
}

.disabled-link {
  pointer-events: none;
  opacity: 0.6;
}

// .spinner {
//   width: 48px;
//   height: 48px;
//   border: 5px solid var(--background);
//   border-top-color: transparent;
//   border-radius: 50%;
//   animation: spin 0.8s linear infinite;
// }

// @keyframes spin {
//   to {
//     transform: rotate(360deg);
//   }
// }

@keyframes spinner-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
}

.spinner__circle {
  box-sizing: border-box;
}
