@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.page-footer {
  $bp-md: 899px;

  .page-footer-main {
    padding-block: functions.fluidValue(20px, 27px, 360px, 1920px);

    &__content {
      //   display: flex;
      //   justify-content: space-between;
      //   align-items: flex-end;

      display: grid;
      grid-template-columns: max-content 1fr;
      justify-content: space-between;
      align-items: flex-end;

      @include mixins.respond-to(lg-sm) {
        align-items: center;
      }

      @include mixins.respond-to(sm) {
        grid-template-columns: 1fr;
        row-gap: 24px;
      }
    }

    .nav-menu_horizontal {
      --link-padding-inline: 29.5px;
      height: max-content;
      //   width: 100%;
      display: flex;
      justify-content: flex-end;

      @include mixins.respond-to(lg-sm) {
        --link-padding-inline: 10px;
      }

      @include mixins.respond-to(450px) {
        justify-content: flex-start;
      }

      .nav-menu__list {
        height: max-content;
        // margin-right: calc(var(--link-padding-inline) * -1);
        display: grid;
        width: max-content;
        grid-template-columns: repeat(6, max-content);

        @include mixins.respond-to(lg-sm) {
          grid-template-columns: repeat(3, max-content);
          justify-content: space-around;
          width: 100%;
        }

        @include mixins.respond-to($bp-md) {
          grid-template-columns: repeat(2, max-content);
        }

        @include mixins.respond-to(sm) {
          grid-template-columns: repeat(3, max-content);
          justify-content: space-between;
        }

        @include mixins.respond-to(669px) {
          grid-template-columns: repeat(2, max-content);
        }

        @include mixins.respond-to(450px) {
          grid-template-columns: repeat(1, max-content);
          justify-content: flex-start;
          margin-left: -10px;
        }
      }

      .nav-menu__item:first-child .nav-menu__link {
        padding-left: 0;

        @include mixins.respond-to(lg-sm) {
          padding-left: var(--link-padding-inline);
        }
      }

      .nav-menu__item:last-child .nav-menu__link {
        padding-right: 0;

        @include mixins.respond-to(lg-sm) {
          padding-right: var(--link-padding-inline);
        }
      }

      .nav-menu__link {
        padding-block: 10px;

        @include mixins.respond-to(sm) {
          font-size: 14px;
          padding-inline: 10px;
        }
      }
    }

    .logo {
      @include mixins.respond-to(450px) {
        justify-content: flex-start;
      }
    }
  }

  .page-footer-bottom {
    padding-block: functions.fluidValue(12px, 26px, 360px, 1920px);
    border-top: 1px solid rgba(0, 0, 0, 0.08);

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: var(--font-family-secondary);
      font-weight: 400;
      font-size: 12px;
      color: var(--foreground);
      flex-wrap: wrap;
      gap: 16px;
    }

    &__highlight {
      font-weight: 400;
      color: #337d5a;

      &_bold {
        font-weight: 600;
      }
    }
  }
}
