@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.products {
  padding-top: functions.fluidValue(45px, 83px, 360px, 1920px);
  padding-bottom: functions.fluidValue(45px, 89px, 360px, 1920px);

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__description {
    max-width: 605px;
    margin-bottom: 65px;
  }
  &__button {
    margin-top: functions.fluidValue(45px, 71px, 360px, 1920px);
    display: flex;
    margin-inline: auto;
  }
}
