@use "@/app/styles/index.scss" as *;
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/socials/socials.scss" as *;
@use "@/shared/ui/dropdown/dropdown.scss" as *;
@use "@/shared/ui/logo/logo.scss" as *;
@use "@/shared/ui/contacts-block/contacts-block.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/contacts-section/contacts-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/widgets/banner/banner.scss" as *;

@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.thank-you {
  .banner {
    aspect-ratio: 1920 / 518;
    &__title {
      font-weight: 800;
      font-size: 45px;
      line-height: 32px;
      letter-spacing: 0.01em;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(25px, 45px, 360px, 1920px);
      }
    }

    &__description {
      max-width: functions.fluidValue(253px, 435px, 360px, 1920px);
    }
  }
}
