@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.hero {
  position: relative;

  .banner__title {
    margin: 0;
  }

  &__breadcrumbs {
    width: 100%;
    position: absolute;
    top: functions.fluidValue(5px, 31px, 360px, 1920px);
    left: 0;
    z-index: 1;
  }
}
