@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.hero {
  position: relative;

  &__breadcrumbs {
    width: 100%;
    position: absolute;
    top: functions.fluidValue(5px, 31px, 360px, 1920px);
    left: 0;
    z-index: 1;
  }

  .banner__description {
    max-width: functions.fluidValue(300px, 600px, 360px, 1920px);
  }
}
