.checkout-form {
  .form-item__flag-wrapper {
    position: relative;
    width: fit-content;
  }

  .flag {
    background-color: #e1843e;
    width: 100px;
    top: -29px;
    right: -101px;
    left: auto;
  }

  .radio input[type="radio"] + .radio-label {
    color: var(--foreground);
  }

  .delivery-fields {
    max-height: 500px;
    opacity: 1;
    visibility: visible;
    margin-top: 17px;
    transition: max-height 0.5s ease, opacity 0.5s ease;
  }

  .hidden {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.2s ease, opacity 0.2s ease;
  }
}
