.checkout-form {
  .form-item__flag-wrapper {
    position: relative;
    width: fit-content;
  }

  .flag {
    background-color: #e1843e;
    width: 100px;
    top: -41px;
    right: -86px;
    left: auto;
  }
}
