@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.one-news-content {
  $bp-tablet: 900px;
  $bp-mobile: 600px;
  padding-top: 44px;

  @include mixins.respond-to(lg-sm) {
    padding-top: functions.fluidValue(20px, 44px, 360px, 1920px);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 990fr 260fr;
    column-gap: 40px;
    row-gap: 29px;

    @include mixins.respond-to(lg-sm) {
      column-gap: functions.fluidValue(20px, 40px, 360px, 1920px);
      row-gap: functions.fluidValue(15px, 29px, 360px, 1920px);
    }

    @include mixins.respond-to($bp-tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__header {
    grid-column: 1/3;

    @include mixins.respond-to($bp-tablet) {
      grid-column: auto;
    }
    h1 {
      font-weight: 700;
      font-size: 32px;
      line-height: 35px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-bottom: 12px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(18px, 32px, 360px, 1920px);
        line-height: functions.fluidValue(25px, 35px, 360px, 1920px);
      }
    }
  }

  &__main {
    margin-top: -29px;

    @include mixins.respond-to(lg-sm) {
      margin-block: functions.fluidValue(-15px, -29px, 360px, 1920px);
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
  }

  &__date {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #8a8a8a;

    @include mixins.respond-to(lg-sm) {
      font-size: functions.fluidValue(11px, 15px, 360px, 1920px);
    }
  }

  .news-article {
    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-top: 38px;
      margin-bottom: 22px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(15px, 24px, 360px, 1920px);
        line-height: functions.fluidValue(20px, 28px, 360px, 1920px);
        margin-top: functions.fluidValue(15px, 38px, 360px, 1920px);
        margin-bottom: functions.fluidValue(15px, 22px, 360px, 1920px);
      }
    }

    h3 {
      font-weight: 700;
      font-size: 16px;
      line-height: 28px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-top: 20px;
      margin-bottom: 10px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(13px, 16px, 360px, 1920px);
        line-height: functions.fluidValue(20px, 28px, 360px, 1920px);
        margin-top: functions.fluidValue(10px, 20px, 360px, 1920px);
      }
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: var(--foreground);
      margin-bottom: 13px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
        line-height: functions.fluidValue(22px, 25px, 360px, 1920px);
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      gap: 3px;
      padding-left: 17px;
    }
    ul li {
      list-style: disc;
      font-weight: 500;
      font-size: 16px;
      line-height: 25px;
      color: var(--foreground);
      padding-left: 12px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
        padding-left: functions.fluidValue(1px, 12px, 360px, 1920px);
      }

      &::marker {
        color: var(--border-color);
      }
    }

    &__image {
      margin-block: 29px;
      aspect-ratio: 990/595;
      background-color: var(--skeleton-background);
      position: relative;

      @include mixins.respond-to(lg-sm) {
        margin-block: functions.fluidValue(15px, 29px, 360px, 1920px);
      }
    }
  }

  .recent-news {
    padding-inline: 20px;
    padding-block: 23px;
    background-color: var(--background-secondary);

    @include mixins.respond-to($bp-tablet) {
      padding-inline: 0;
      padding-block: 12px;
    }

    h2 {
      font-weight: 700;
      font-size: 24px;
      line-height: 26px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--foreground);
      margin-bottom: 19px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(15px, 24px, 360px, 1920px);
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 36px;

      @include mixins.respond-to(lg-sm) {
        gap: functions.fluidValue(12px, 36px, 360px, 1920px);
      }

      @include mixins.respond-to($bp-tablet) {
        flex-direction: row;
      }

      @include mixins.respond-to($bp-mobile) {
        flex-direction: column;
      }
    }

    .news-section-card {
      @include mixins.respond-to($bp-tablet) {
        flex: 1;
      }

      &__image-wrapper {
        aspect-ratio: 220/163;
        margin-bottom: 14px;

        @include mixins.respond-to($bp-mobile) {
          max-width: none;
        }
      }
      &__title {
        font-size: 15px;
        margin-bottom: 0;

        @include mixins.respond-to($bp-mobile) {
          font-size: 14px;
        }
      }

      &__date {
        margin-bottom: 6px;
      }
      &__link {
        font-size: 13px;
        color: var(--foreground-tertiary);

        path {
          fill: var(--foreground-tertiary);
        }
      }
      &__content {
        padding-inline: 0;
      }

      &__description {
        display: none;
      }
    }
  }

  .foolow-socials {
    width: 100%;
    background-color: var(--background-tertiary);
    padding-inline: 36px;
    padding-top: 42px;
    padding-bottom: 29px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-weight: 800;
      font-size: 20px;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--foreground-secondary);
      margin-bottom: 20px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(16px, 20px, 360px, 1920px);
      }
    }
    &__text {
      font-weight: 600;
      font-size: 17px;
      letter-spacing: 0.02em;
      text-align: center;
      color: var(--foreground-secondary);
      margin-bottom: 31px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(14px, 17px, 360px, 1920px);
      }
    }
    &__socials {
      display: flex;
      gap: 16px;
      align-items: center;

      path {
        fill: var(--foreground-secondary);
      }
    }
  }
}
