@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

$bp-mobile: 999px;

.payment-delivery-tabs-section {
  padding-top: functions.fluidValue(20px, 69px, 360px, 1920px);
  padding-bottom: functions.fluidValue(10px, 23px, 360px, 1920px);

  .tabs__nav-wrapper {
    justify-content: space-around;
    // gap: functions.fluidValue(20px, 79px, 360px, 1920px);

    @include mixins.pageContainer();

    @include mixins.respond-to(lg-sm) {
      gap: 0;
      justify-content: space-evenly;
    }

    @include mixins.respond-to($bp-mobile) {
      justify-content: space-between;
    }
  }

  .tabs__content {
    padding-block: functions.fluidValue(20px, 52px, 360px, 1920px);

    @include mixins.pageContainer();
  }

  .tabs__nav-btn {
    font-weight: 800;
    font-size: functions.fluidValue(12px, 20px, 360px, 1920px);
    line-height: 23px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    gap: 10px;
    padding-block: 10px;
    padding-inline: 8px;
  }

  .tabs__nav-btn[aria-selected="true"] {
    text-shadow: none;
  }

  .tabs__nav-icon svg {
    width: functions.fluidValue(20px, 37px, 360px, 1920px);
    height: functions.fluidValue(20px, 37px, 360px, 1920px);
  }

  .tabs__nav-btn:nth-child(2) svg {
    width: functions.fluidValue(20px, 45px, 360px, 1920px);
    height: functions.fluidValue(20px, 45px, 360px, 1920px);
  }
}
