@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/variables" as variables;

.forgot-password-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: center;
    margin-bottom: 25px;

    @include mixins.respond-to(lg-sm) {
      font-size: functions.fluidValue(
        22px,
        32px,
        360px,
        variables.$breakpoint-lg-sm
      );
    }
  }

  &__item {
    display: flex;
    flex-direction: column;

    &:nth-of-type(2) {
      margin-bottom: 39px;
    }
  }

  .field-hint {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    margin-bottom: 17px;

    &__title {
      font-weight: 600;
      font-size: 18px;
      line-height: 1;
      letter-spacing: 0.01em;
      color: var(--foreground);
      display: flex;
      align-items: flex-end;
      gap: 11px;

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(
          14px,
          18px,
          360px,
          variables.$breakpoint-lg-sm
        );
      }

      span {
        display: inline-flex;
      }

      svg {
        margin-bottom: 2px;
        @include mixins.respond-to(sm) {
          width: 17px;
          height: 17px;
        }
      }
    }

    &__description {
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--muted-text);

      @include mixins.respond-to(lg-sm) {
        font-size: functions.fluidValue(
          12px,
          15px,
          360px,
          variables.$breakpoint-lg-sm
        );
      }
    }
  }

  .form-field {
    margin-bottom: 15px;
  }

  &__btn {
    width: 60%;
    margin-bottom: 9px;
    align-self: center;
    font-weight: 700;
    font-size: 16px;
    padding-inline: 47px;

    @include mixins.respond-to(lg-sm) {
      padding-inline: functions.fluidValue(
        22px,
        47px,
        360px,
        variables.$breakpoint-lg-sm
      );
    }

    @include mixins.respond-to(sm) {
      font-size: 14px;
      width: 100%;
    }
  }
}
