.legal-address-form {
  $items-gap: 20.5px;
  max-width: 474px;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-family: var(--font-family-secondary);
    font-weight: 700;
    font-size: 17px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: left;
  }

  &__item {
    margin-bottom: $items-gap;

    &_contacts {
      flex: 1 1 auto;
    }
  }

  .form-item__fields {
    gap: $items-gap;
  }

  &__submit-btn {
    padding-inline: 72px;
  }

  &__footer {
    display: flex;
    justify-content: flex-end;
  }
}
