.nav-menu {
  &_horizontal {
    display: flex;
    justify-content: center;

    .nav-menu__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .nav-menu__link {
      --padding-inline: 34.5px;

      padding-inline: var(--padding-inline);
      font-family: var(--font-family-primary);
      font-weight: 500;
      font-size: 15px;
      letter-spacing: 0.02em;
      color: var(--foreground);
      padding-block: 13px;
      position: relative;

      &:hover {
        text-shadow: 0.1px 0 0 currentColor;
        color: var(--background-tertiary);
      }

      &:hover::after {
        content: "";
        display: block;
        width: calc(100% - (var(--padding-inline) * 2) + 14px);
        height: 3px;
        background-color: var(--background-tertiary);
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
