.cart-section {
  .table__empty-message {
    padding-block: 100px;
  }

  .auth-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    margin-top: 62px;

    &__title {
      font-weight: 800;
      font-size: 28px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      text-align: center;
    }
    &__links {
      text-align: center;
    }

    &__link {
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: var(--foreground-tertiary);

      @media (hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .user-info-bar {
    column-gap: 189px;
  }
}

.hidden {
  display: none !important;
}
