@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.manufacturer {
  padding-top: functions.fluidValue(50px, 100px, 360px, 1920px);
  padding-bottom: functions.fluidValue(50px, 90px, 360px, 1920px);
  background-color: var(--background-secondary);

  &__content {
    display: grid;
    grid-template-columns: 1fr 54.264%;
    gap: 32px;

    @include mixins.respond-to(1199px) {
      grid-template-columns: 1fr;
      justify-items: center;
    }
  }

  &__col-1 {
    padding-top: 27px;

    @include mixins.respond-to(1199px) {
      padding-top: 0;
      display: grid;
      justify-items: center;
      max-width: 700px;
    }
  }

  &__col-2 {
    aspect-ratio: 700 / 472;

    @include mixins.respond-to(1199px) {
      max-width: 700px;
    }
  }
  &__img {
    object-fit: cover;
    // width: 100%;
  }

  &__title {
    margin-bottom: functions.fluidValue(14px, 42px, 360px, 1920px);
    text-align: left;
  }

  &__description {
    font-family: var(--font-family-primary);
    font-weight: 500;
    font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
    letter-spacing: 0.01em;
    color: var(--foreground);
    max-width: 480px;
    line-height: 25px;
    display: flex;
    gap: 29px;
    flex-direction: column;

    @include mixins.respond-to(1199px) {
      max-width: 100%;
      //   text-align: center;
    }
  }

  &__highlight {
    color: var(--foreground-tertiary);
    font-weight: 600;
  }

  &__button {
    margin-top: 49px;
    font-size: 14px;
    padding-inline: 43px;
  }
}
