@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.gallery-section {
  background-color: var(--background-secondary);
  padding-top: functions.fluidValue(20px, 91px, 360px, 1920px);
  padding-bottom: functions.fluidValue(20px, 100px, 360px, 1920px);

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: functions.fluidValue(14px, 21px, 360px, 1920px);
    margin-bottom: functions.fluidValue(20px, 66px, 360px, 1920px);
  }

  &__title {
    font-weight: 800;
    font-size: functions.fluidValue(20px, 45px, 360px, 1920px);
    letter-spacing: 0.01em;
    color: var(--foreground);
  }

  &__description {
    font-weight: 500;
    font-size: functions.fluidValue(14px, 18px, 360px, 1920px);
    line-height: 22px;
    letter-spacing: 0.01em;
    color: var(--foreground);
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: functions.fluidValue(30px, 68px, 360px, 1920px);
  }

  &__see-more {
    padding-inline: functions.fluidValue(27px, 40px, 360px, 1920px);
    padding-block: 18px;
    font-weight: 700;
    font-size: functions.fluidValue(13px, 14px, 360px, 1920px);
    letter-spacing: 0.02em;
  }
}
