@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.owner-section {
  $bp-mobile: 600px;
  background-color: var(--background-secondary);
  padding-top: functions.fluidValue(20px, 100px, 360px, 1920px);
  padding-bottom: functions.fluidValue(20px, 90px, 360px, 1920px);

  &__content {
    display: grid;
    grid-template-columns: 342px 493px 453px;

    @include mixins.respond-to(lg-sm) {
      grid-template-columns: 40% 60%;
      grid-template-areas:
        "image owner-info"
        "image company-history";
    }

    @include mixins.respond-to(md) {
      grid-template-columns: 35% 65%;
      grid-template-areas:
        "image owner-info"
        "company-history company-history";
    }

    @include mixins.respond-to($bp-mobile) {
      grid-template-columns: 1fr;
      grid-template-areas:
        "owner-info"
        "company-history";
      row-gap: 10px;
    }
  }

  &__image-wrapper {
    aspect-ratio: 342/493;
    background-color: #bdbdbd;
    // overflow: hidden;

    @include mixins.respond-to(lg-sm) {
      grid-area: image;
      aspect-ratio: auto;
    }

    @include mixins.respond-to($bp-mobile) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .owner-info {
    padding-block: functions.fluidValue(10px, 31px, 360px, 1920px);
    padding-inline: functions.fluidValue(10px, 42px, 360px, 1920px);

    @include mixins.respond-to(lg-sm) {
      grid-area: owner-info;
    }

    &__name {
      font-weight: 800;
      font-size: functions.fluidValue(12px, 32px, 360px, 1920px);
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-bottom: 14px;
    }

    &__role {
      font-weight: 500;
      font-size: functions.fluidValue(12px, 16px, 360px, 1920px);
      line-height: 21px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-bottom: functions.fluidValue(10px, 28px, 360px, 1920px);
    }

    &__quote {
      margin-bottom: functions.fluidValue(10px, 59px, 360px, 1920px);
    }

    .owner-quote {
      display: flex;

      &__text {
        font-style: italic;
        font-weight: 500;
        font-size: functions.fluidValue(12px, 15px, 360px, 1920px);
        line-height: 20px;
        letter-spacing: 0.02em;
        color: var(--foreground);
        padding-top: 8px;
        margin-left: 14px;
      }
    }

    &__button {
      font-size: functions.fluidValue(12px, 14px, 360px, 1920px);
      font-weight: 700;
      padding-block: functions.fluidValue(10px, 16px, 360px, 1920px);
      padding-inline: functions.fluidValue(20px, 44px, 360px, 1920px);
    }
  }

  .company-history {
    background-color: var(--background-tertiary);
    position: relative;
    overflow: hidden;
    padding-block: functions.fluidValue(15px, 32px, 360px, 1920px);
    padding-inline: functions.fluidValue(15px, 46px, 360px, 1920px);

    @include mixins.respond-to(lg-sm) {
      grid-area: company-history;
      padding-block: functions.fluidValue(10px, 31px, 360px, 1920px);
      padding-inline: functions.fluidValue(10px, 42px, 360px, 1920px);
    }

    &__title {
      font-weight: 800;
      font-size: functions.fluidValue(15px, 32px, 360px, 1920px);
      letter-spacing: 0.01em;
      color: var(--foreground-secondary);
      margin-bottom: functions.fluidValue(14px, 31px, 360px, 1920px);
    }

    &__text {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
      color: var(--foreground-secondary);
      display: flex;
      flex-direction: column;
      gap: 15px;
    }

    &__icon-wrapper {
      position: absolute;
      bottom: -30px;
      right: -90px;
      overflow: hidden;

      svg {
        width: functions.fluidValue(200px, 323px, 360px, 1920px);
        height: functions.fluidValue(200px, 299px, 360px, 1920px);
      }
    }
  }
}
