@use "@/app/styles/mixins" as mixins;
.header {
  $container-width: 1314px;
  $bp-lg: $container-width - 1;
  $cart-btn-margin-left: 65px;
  &__container {
    max-width: $container-width;
    padding-inline: 12px;
    margin: 0 auto;
  }

  .top-header {
    background-color: var(--background-secondary);
    padding-block: 5px;

    &__content {
      display: flex;
      align-items: center;
    }
    &__promo {
      font-family: var(--font-family-secondary);
      font-weight: 600;
      font-size: 14px;
      color: var(--accent);
      margin-left: 457px;
      white-space: nowrap;

      @include mixins.respond-to($bp-lg) {
        margin-left: 0;
        margin: 0 auto;
      }
    }

    &__link {
      font-family: var(--font-family-primary);
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.02em;
      color: var(--foreground);
      display: inline-flex;

      position: relative;

      &:after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--accent);
        transform: scaleX(0);
        transition: transform 0.3s ease;
      }

      &:hover:after {
        transform: scaleX(1);
      }
    }

    &__login:hover .top-header__link:after {
      transform: scaleX(1);
    }

    &__auth {
      display: flex;
      gap: 26px;
      align-items: center;
      margin-left: auto;

      @include mixins.respond-to($bp-lg) {
        margin-left: 0;
      }
    }

    &__login {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &__lang {
      margin-left: 35px;
      min-width: 45px;

      @include mixins.respond-to($bp-lg) {
        // margin-left: 0;
      }
    }
  }

  .middle-header {
    padding-block: 16px;

    &__content {
      display: flex;
      align-items: center;
      // justify-content: space-between;
    }

    &__contacts-block {
      margin-left: 329px;

      @include mixins.respond-to($bp-lg) {
        margin-left: 0;
        margin: 0 auto;
      }
    }

    &__button {
      margin-left: 93px;

      @include mixins.respond-to($bp-lg) {
        margin-left: -47px;
      }
    }

    &__text {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.02em;
      color: var(--muted-text);
      display: inline-flex;
      max-width: 143px;
      margin-left: 14px;
      white-space: nowrap;
    }

    &__cart-btn {
      margin-left: auto;
      margin-right: 5px;

      @include mixins.respond-to($bp-lg) {
        margin-left: $cart-btn-margin-left;
      }
    }

    .cart-btn {
      position: relative;

      &_counter {
        position: absolute;
        top: 0;
        right: -5px;
        min-width: 15px;
        height: 15px;
        border-radius: 9999px;
        background-color: #93b474;
        font-family: var(--font-family-secondary);
        font-weight: 700;
        font-size: 8px;
        color: var(--foreground-secondary);
        display: flex;
        align-items: center;
        justify-content: center;
        padding-inline: 4px;
      }
    }
  }

  .bottom-header {
    padding-block: 9px;
    border-top: 1px solid rgba(0, 0, 0, 0.06);

    .nav-menu__link {
      @include mixins.respond-to($bp-lg) {
        font-size: 14px;
        --padding-inline: 18.5px;
      }
    }
  }
}
