@use "@/app/styles/index.scss" as *;
@use "swiper/css";
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/socials/socials.scss" as *;
@use "@/shared/ui/dropdown/dropdown.scss" as *;
@use "@/shared/ui/logo/logo.scss" as *;
@use "@/shared/ui/contacts-block/contacts-block.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/banner/banner.scss" as *;
@use "@/widgets/contacts-section/contacts-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/pages/catalog/sections/hero/hero.scss" as *;
@use "@/pages/catalog/sections/walnut/walnut.scss" as *;
@use "@/pages/catalog/sections/products/products.scss" as *;
@use "@/entities/product/ui/product-card/product-card.scss" as *;
@use "@/entities/product/ui/product-list/product-list.scss" as *;
@use "@/features/product-filters/ui/product-filters-bar.scss" as *;
@use "@/widgets/breadcrumbs/breadcrumbs.scss" as *;
@use "@/shared/ui/skeleton/skeleton.scss" as *;
@use "@/shared/ui/overlay-spinner/overlay-spinner.scss" as *;
