@use "@/app/styles/index.scss" as *;
@use "swiper/css";
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/socials/socials.scss" as *;
@use "@/shared/ui/dropdown/dropdown.scss" as *;
@use "@/shared/ui/logo/logo.scss" as *;
@use "@/shared/ui/contacts-block/contacts-block.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/banner/banner.scss" as *;
@use "@/pages/home/sections/products/products.scss" as *;
@use "@/pages/home/sections/manufacturer/manufacturer.scss" as *;
@use "@/pages/home/sections/stats/stats.scss" as *;
@use "@/pages/home/sections/products-benefits/products-benefits.scss" as *;
@use "@/widgets/contacts-section/contacts-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/widgets/news-section/news-section.scss" as *;
@use "@/entities/product/ui/product-card/product-card.scss" as *;
@use "@/entities/product/ui/product-list/product-list.scss" as *;
@use "@/shared/ui/skeleton/skeleton.scss" as *;
@use "@/shared/ui/video-card/video-card.scss" as *;
