{%import "src/shared/ui/icons/icons.html" as icons%}
{%from "src/shared/ui/picture/picture.html" import picture%}

{%macro newsSection(baseUrl)%}
{%set newsItems = [
{
id: 1,
image: { src: "/images/news-section/image-1.jpg", webpSrc: "/images/news-section/image-1.webp", alt:
"News
Image 1" },
video: { src: baseUrl + "videos/home-page/news-1.mp4", alt: "News Video 1" },
date: "12.04.2019",
title: "Центр поддержки экспорта, в студии Павел Тулба",
description: "Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не
смотря на большой спрос в Европе и отличную...",
link: "#"
},
{
id: 2,
image: { src: "/images/news-section/image-2.jpg", webpSrc: "/images/news-section/image-2.webp", alt:
"News
Image 2" },
video: { src: baseUrl + "videos/home-page/news-2.mp4", alt: "News Video 2" },
date: "12.04.2019",
title: "В Одесской области состоялся масштабный торгово - экспортный форум",
description: "Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не
смотря на большой спрос в Европе и отличную...",
link: "#"
},
{
id: 3,
image: { src: "/images/news-section/image-3.jpg", webpSrc: "/images/news-section/image-3.webp", alt:
"News
Image 3" },
video: { src: baseUrl + "videos/home-page/news-3.mp4", alt: "News Video 3" },
date: "12.04.2019",
title: "Сертификация органического производителя",
description: "Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не
смотря на большой спрос в Европе и отличную...",
link: "#"
},
{
id: 4,
image: { src: "/images/news-section/image-1.jpg", webpSrc: "/images/news-section/image-1.webp", alt:
"News
Image 4" },
video: { src: baseUrl + "videos/home-page/news-1.mp4", alt: "News Video 4" },
date: "12.04.2019",
title: "Центр поддержки экспорта, в студии Павел Тулба",
description: "Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не
смотря на большой спрос в Европе и отличную...",
link: "#"
},
{
id: 5,
image: { src: "/images/news-section/image-2.jpg", webpSrc: "/images/news-section/image-2.webp", alt:
"News
Image 5" },
video: { src: baseUrl + "videos/home-page/news-2.mp4", alt: "News Video 5" },
date: "12.04.2019",
title: "В Одесской области состоялся масштабный торгово - экспортный форум",
description: "Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не
смотря на большой спрос в Европе и отличную...",
link: "#"
},
{
id: 6,
image: { src: "/images/news-section/image-3.jpg", webpSrc: "/images/news-section/image-3.webp", alt:
"News
Image 6" },
video: { src: baseUrl + "videos/home-page/news-3.mp4", alt: "News Video 6" },
date: "12.04.2019",
title: "Сертификация органического производителя",
description: "Как уже упоминал Павел Тулба, шиповник цветёт. Эта культура очень недооценена среди наших садоводов, не
смотря на большой спрос в Европе и отличную...",
link: "#"
}

]%}

<section class="news-section">
    <div class="page-container">
        <div class="news-section__header">
            <div class="news-section__title title-h2">Новости</div>
            <div class="news-section__description title-h2-description">
                Свежие новости и полезная информация
            </div>
            <div class="news-section-slider__nav news-section-slider__nav-outside">
                <div class="news-section-slider__prev">
                    {{ icons.leftArrow('news-section-slider__icon') }}
                </div>
                <div class="news-section-slider__next">
                    {{ icons.rightArrow('news-section-slider__icon') }}
                </div>
            </div>
        </div>
        <div class="news-section__main">
            <div class="news-section__swiper swiper news-section-slider">
                <div class="swiper-wrapper">
                    {% for news in newsItems %}
                    <div class="swiper-slide">
                        {{newsSectionCard(news, baseUrl)}}
                    </div>
                    {% endfor %}
                </div>
                <div class="news-section-slider__nav news-section-slider__nav-inside">
                    <div class="news-section-slider__prev">
                        {{ icons.leftArrow('news-section-slider__icon') }}
                    </div>
                    <div class="news-section-slider__next">
                        {{ icons.rightArrow('news-section-slider__icon') }}
                    </div>
                </div>
            </div>
        </div>
        <div class="news-section__bottom">
            <a class="news-section__all-news-link button button_secondary button_size-md" href="#"
                name="news-section-all-news-link" aria-label="Смотреть все новости">
                Смотреть все новости
            </a>
        </div>
    </div>
</section>

{%endmacro%}


{%macro newsSectionCard(news, baseUrl)%}
<div class="news-section-card {{news.class}}">
    <div class="news-section-card__image-wrapper video-card">
        {{picture(news.image.src, news.image.webpSrc, news.image.alt,
        "news-section-card__img video-card__img")}}
        {% if news.video %}
        <video class="video-card__video" data-src="{{news.video.src}}" playsinline
            aria-label="{{news.video.alt}}"></video>
        <button class="video-card__button" name="play-button" aria-label="Кнопка проигрывания видео">
            {{ icons.play() }}
        </button>
        {% endif %}
    </div>
    <div class="news-section-card__content">
        <div class="news-section-card__date">{{news.date}}</div>
        <a class="news-section-card__title" href="{{baseUrl}}one-news/">{{news.title | safe}}</a>
        <div class="news-section-card__description">{{news.description | safe}}</div>
        <a class="news-section-card__link" href="{{baseUrl}}one-news/" name="news-section-card-link"
            aria-label="Читать новость">Читать
            {{ icons.longRightArrow('news-section-card__link-icon') }}
        </a>
    </div>
</div>
{%endmacro%}