@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.news-section {
  padding-top: functions.fluidValue(50px, 83px, 360px, 1920px);
  padding-bottom: functions.fluidValue(50px, 88px, 360px, 1920px);

  &__header {
    margin-bottom: functions.fluidValue(24px, 62px, 360px, 1920px);
    position: relative;
  }

  &__main {
    margin-bottom: functions.fluidValue(40px, 95px, 360px, 1920px);
  }

  &__title {
    text-align: left;
  }

  &__description {
    text-align: left;
  }

  .button {
    display: flex;
    margin-inline: auto;

    @include mixins.respond-to(sm) {
      font-size: 14px;
    }
  }

  .news-section-slider {
    &__nav {
      position: absolute;

      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: functions.fluidValue(35px, 58px, 360px, 1920px);
      width: functions.fluidValue(90px, 142px, 360px, 1920px);
      background-color: var(--background-tertiary);
      color: var(--foreground-secondary);
      @include mixins.prevent-text-selection();
      cursor: pointer;

      @include mixins.respond-to(lg-sm) {
        bottom: 0;
      }

      // @include mixins.respond-to(499px) {
      //   bottom: auto;
      //   top: -14%;
      // }
    }
    &__prev,
    &__next {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: functions.fluidValue(22px, 34px, 360px, 1920px);
        height: functions.fluidValue(19px, 34px, 360px, 1920px);
      }
    }

    &__nav-outside {
      bottom: 20%;
      right: 0;

      @include mixins.respond-to(499px) {
        display: none;
      }
    }

    &__nav-inside {
      display: none;
      top: 0;
      right: 0;

      @include mixins.respond-to(499px) {
        display: flex;
      }
    }
  }

  .swiper-button-disabled {
    cursor: auto;
  }

  .swiper-button-disabled svg {
    opacity: 0.5;
    pointer-events: none;
  }
}

.news-section-card {
  &__image-wrapper {
    width: 100%;
    aspect-ratio: 408/270;
    max-width: 408px;
    // background-color: #c4c4c4;
    margin-bottom: 23px;

    @include mixins.respond-to(lg-sm) {
      margin-bottom: 12px;
    }

    @include mixins.respond-to(501px) {
      max-width: 100%;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    padding-left: 24px;
    padding-right: 33px;

    @include mixins.respond-to(lg-sm) {
      padding: 0;
    }
  }

  &__date {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 13px;
    line-height: 22px;
    // letter-spacing: 0.01em;
    color: var(--muted-text);
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    margin-bottom: 14px;
    @include mixins.line-clamp(2);

    @media (hover: hover) {
      &:hover {
        color: var(--foreground-tertiary);
      }
    }

    @include mixins.respond-to(sm) {
      font-size: 15px;
    }
  }

  &__description {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    max-width: 350px;
    margin-bottom: 18px;

    @include mixins.line-clamp(4);

    @include mixins.respond-to(sm) {
      font-size: 12px;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    gap: 9px;
    align-items: flex-end;
    padding-block: 5px;

    @media (hover: hover) {
      &:hover {
        color: var(--background-tertiary);
      }

      &:hover svg path {
        fill: var(--background-tertiary);
      }
    }
  }
}
