@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;
// functions.fluidValue(20px, 79px, 360px, 1920px);

.profile-section {
  padding-top: 46px;
  padding-bottom: 90px;

  @include mixins.respond-to(lg-sm) {
    padding-top: functions.fluidValue(20px, 46px, 360px, 1920px);
    padding-bottom: functions.fluidValue(20px, 90px, 360px, 1920px);
  }

  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    column-gap: 74px;
  }

  .user-info-bar {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
    padding-top: 0;
  }
  &__body {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  &__content {
    background-color: rgb(94, 94, 233);
    grid-column: 2/-1;
  }

  .account-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .account-menu-item {
      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: var(--foreground);
        margin-bottom: 7px;
      }

      .account-menu-list {
        &__item {
        }

        &__link {
          font-weight: 500;
          font-size: 16px;
          line-height: 29px;
          letter-spacing: 0.01em;
          color: var(--foreground);

          @media (hover: hover) {
            &:hover {
              color: var(--foreground-tertiary);
              text-decoration: underline;
            }
          }

          &.active {
            color: var(--foreground-tertiary);
            text-decoration: underline;
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }
}
