@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.profile-section {
  $col-1-flex: 0 1 25%;
  $col-2-flex: 1 1 70%;
  $col-gap: 50px;
  padding-top: 46px;
  padding-bottom: 90px;

  @include mixins.respond-to(lg-sm) {
    padding-top: functions.fluidValue(20px, 46px, 360px, 1920px);
    padding-bottom: functions.fluidValue(20px, 90px, 360px, 1920px);
  }

  &__wrapper {
  }

  .user-info-bar {
    padding-top: 0;
    column-gap: normal;

    &__title {
      flex: $col-1-flex;
      margin-right: $col-gap;
    }

    &__manager-contacts {
      // flex: $col-2-flex;
    }
  }
  &__body {
    display: flex;
    // gap: 50px;
    overflow-x: auto;
  }

  &__menu {
    transform: translateX(0);
    flex: $col-1-flex;
    margin-right: $col-gap;

    @include mixins.respond-to(md) {
      display: none;
    }
  }

  &__menu.show {
    display: block;
  }

  &__menu-toggle {
    display: none;

    @include mixins.respond-to(md) {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__menu-toggle-right-icon {
    display: block;
  }
  &__menu-toggle-left-icon {
    display: none;
  }

  &__menu-toggle.show {
    .profile-section__menu-toggle-right-icon {
      display: none;
    }
    .profile-section__menu-toggle-left-icon {
      display: block;
    }
  }

  &__content {
    min-height: 260px;
    // flex: $col-2-flex;
    flex: 1;
  }

  &__menu.is-collapsed + .profile-section__content {
    grid-column: 1 / -1;
  }

  .profile-section__menu-toggle {
    margin-bottom: 20px;
  }

  .account-menu {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .account-menu-item {
      &__title {
        font-weight: 700;
        font-size: 18px;
        line-height: 32px;
        letter-spacing: 0.01em;
        color: var(--foreground);
        margin-bottom: 7px;
        white-space: nowrap;
      }

      .account-menu-list {
        &__link {
          font-weight: 500;
          font-size: 16px;
          line-height: 29px;
          letter-spacing: 0.01em;
          color: var(--foreground);
          white-space: nowrap;

          @media (hover: hover) {
            &:hover {
              color: var(--foreground-tertiary);
              text-decoration: underline;
            }
          }

          &.active {
            color: var(--foreground-tertiary);
            text-decoration: underline;
            cursor: default;
            pointer-events: none;
          }
        }
      }
    }
  }
}
