.profile-section {
  &__wrapper {
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    column-gap: 74px;
  }

  .user-info-bar {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }
  &__body {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  &__menu {
    background-color: rgb(236, 90, 90);
  }
  &__content {
    background-color: rgb(94, 94, 233);
    grid-column: 2/-1;
  }
}
