@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.forgot-password-section {
  padding-top: functions.fluidValue(20px, 45px, 360px, 1920px);
  padding-bottom: functions.fluidValue(40px, 90px, 360px, 1920px);

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  .forgot-password-form {
    max-width: 410px;
  }
}
