@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.hero {
  position: relative;

  &__breadcrumbs {
    width: 100%;
    position: absolute;
    top: functions.fluidValue(5px, 31px, 360px, 1920px);
    left: 0;
    z-index: 1;
  }

  .banner__title {
    margin-bottom: 11px;
  }

  .banner__description {
    font-weight: 500;
    font-size: functions.fluidValue(17px, 25px, 360px, 1920px);
    letter-spacing: 0.01em;
    text-align: center;
    color: var(--foreground-secondary);

    @include mixins.respond-to(lg-sm) {
      max-width: 80%;
    }
  }
}
