@use "@/app/styles/index.scss" as *;
@use "swiper/css";
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/socials/socials.scss" as *;
@use "@/shared/ui/dropdown/dropdown.scss" as *;
@use "@/shared/ui/logo/logo.scss" as *;
@use "@/shared/ui/contacts-block/contacts-block.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/contacts-section/contacts-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/widgets/breadcrumbs/breadcrumbs.scss" as *;
@use "@/pages/product/ui/breadcrumbs/breadcrumbs.scss";
@use "@/entities/product/ui/product-card/product-details-card.scss" as *;
@use "@/shared/ui/tabs/tabs.scss" as *;
@use "@/pages/product/product-tabs/product-tabs.scss" as *;
@use "@/pages/product/sections/product-content/product-content.scss" as *;
@use "@/shared/ui/skeleton/skeleton.scss" as *;
