&__prev,
&__next {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 58px;
  background-color: var(--background-tertiary);
  color: var(--foreground-secondary);
  @include mixins.prevent-text-selection();
  cursor: pointer;
}

&__prev {
  left: 0;
}
&__next {
  left: 69px;
}

.swiper-button-disabled {
  cursor: auto;
}

.swiper-button-disabled svg {
  opacity: 0.5;
  pointer-events: none;
}
