@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.login-form {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: 800;
    font-size: functions.fluidValue(22px, 32px, 360px, 1920px);
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: center;
    margin-bottom: functions.fluidValue(20px, 44px, 360px, 1920px);
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 8px;
    position: relative;
  }

  &__forgot-password-link,
  &__register-link {
    font-family: var(--font-family-secondary);
    font-weight: 600;
    font-size: 13px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--accent);
    align-self: center;

    @include mixins.respond-to(sm) {
      font-size: 12px;
    }
  }

  &__forgot-password-link {
    margin-bottom: 7px;
  }

  &__register-link {
    position: relative;
    display: inline-flex;
    width: fit-content;

    &::after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: 0;
      height: 1px;
      width: 100%;
      background-color: var(--accent);
    }
  }

  &__submit-btn {
    width: 100%;
    margin-bottom: 9px;

    @include mixins.respond-to(sm) {
      font-size: 14px;
    }
  }

  &__server-error.form-field__error {
    background-color: blue;
  }
}
