@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.password-form {
  $items-gap: 20.5px;
  max-width: 410px;

  &__body {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__title {
    font-weight: 800;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: center;
  }

  &__item {
    margin-bottom: $items-gap;

    &_contacts {
      flex: 1 1 auto;
    }
  }

  .form-item__fields {
    gap: $items-gap;
    padding: 2px;
  }

  .form-field {
    min-width: 330px;
  }

  &__submit-btn {
    padding-inline: 72px;
  }
}

@include mixins.respond-to(md) {
  .profile-section__menu:not(.show) ~ .profile-section__content .password-form {
    margin: auto;
  }
}
