@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.registration-form {
  width: 100%;

  &__title {
    font-weight: 800;
    font-size: functions.fluidValue(22px, 32px, 360px, 1920px);
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: left;
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: 474px 474px;
    justify-content: space-between;
  }

  &__col-left {
  }

  &__col-right {
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 11px;
  }

  &__group {
    display: grid;
    row-gap: 43px;
  }

  .registration-form-item {
    &__title {
      font-family: var(--font-family-secondary);
      font-weight: 700;
      font-size: 17px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-bottom: 21px;
    }

    &__fields {
      display: flex;
      flex-direction: column;
      gap: 17px;
      margin-bottom: 8px;
    }
  }

  &__submit-btn {
    width: 100%;
    margin-bottom: 9px;

    @include mixins.respond-to(sm) {
      font-size: 14px;
    }
  }

  .registration-form-checkbox {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;

    &__input {
      display: none;

      &:checked + .registration-form-checkbox__label::before {
        background-color: var(--accent);
        border-color: var(--accent);
        content: "✔";
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--foreground-secondary);
        font-size: 12px;
      }
    }

    &__label {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        border: 1.5px solid var(--accent);
        display: inline-block;
        margin-right: 8px;
        box-sizing: border-box;
        text-align: center;
        line-height: 14px;
        font-size: 12px;
      }
    }

    &__text {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 13px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: var(--muted-text);
    }

    &__link {
      color: var(--accent);
      font-weight: 600;
      margin-left: 4px;
    }
  }
}
