@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.registration-form {
  width: 100%;
  display: grid;
  grid-template-columns: 474px 474px;
  justify-content: space-between;

  &__title {
    font-weight: 800;
    font-size: functions.fluidValue(22px, 32px, 360px, 1920px);
    line-height: 32px;
    letter-spacing: 0.01em;
    color: var(--foreground);
    text-align: left;
    margin-bottom: 20px;
  }

  &__body {
    display: grid;
    grid-template-columns: subgrid;
    grid-template-areas:
      "contacts avatar"
      "address  legal-entity-group"
      "password legal-entity-group";
    grid-column: 1/3;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 11px;
  }

  &__group {
    .registration-form-item:last-child {
      margin-bottom: 0;
    }
  }

  .registration-form-item {
    margin-bottom: 49px;
    &_contacts {
      grid-area: contacts;
    }
    &_address {
      grid-area: address;
    }
    &_password {
      grid-area: password;
      margin-bottom: 0;
    }
    &_avatar {
      grid-area: avatar;
    }
    &_legal-entity-group {
      grid-area: legal-entity-group;
      margin-bottom: 0;
    }

    &__title {
      font-family: var(--font-family-secondary);
      font-weight: 700;
      font-size: 17px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-bottom: 21px;
    }

    &__fields {
      display: flex;
      flex-direction: column;
      gap: 17px;
    }
  }

  &__submit-btn {
    width: 100%;

    @include mixins.respond-to(sm) {
      font-size: 14px;
    }
  }

  .registration-form-checkbox {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;

    &__input {
      display: none;

      &:checked + .registration-form-checkbox__label::before {
        background-color: var(--accent);
        border-color: var(--accent);
        content: "✔";
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--foreground-secondary);
        font-size: 12px;
      }
    }

    &__label {
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;

      &::before {
        content: "";
        width: 14px;
        height: 14px;
        border: 1.5px solid var(--accent);
        display: inline-block;
        margin-right: 8px;
        box-sizing: border-box;
        text-align: center;
        line-height: 14px;
        font-size: 12px;
      }
    }

    &__text {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 13px;
      line-height: 32px;
      letter-spacing: 0.01em;
      color: var(--muted-text);
    }

    &__link {
      color: var(--accent);
      font-weight: 600;
      margin-left: 4px;
    }
  }
}

// @use "@/app/styles/functions" as functions;
// @use "@/app/styles/mixins" as mixins;

// .registration-form {
//   width: 100%;

//   &__title {
//     font-weight: 800;
//     font-size: functions.fluidValue(22px, 32px, 360px, 1920px);
//     line-height: 32px;
//     letter-spacing: 0.01em;
//     color: var(--foreground);
//     text-align: left;
//     margin-bottom: 20px;
//   }

//   &__body {
//     display: grid;
//     grid-template-columns: 474px 474px;
//     justify-content: space-between;
//   }

//   &__col-left {
//   }

//   &__col-right {
//   }

//   &__footer {
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     padding-top: 11px;
//   }

//   &__group {
//     display: grid;
//     row-gap: 43px;
//   }

//   .registration-form-item {
//     &__title {
//       font-family: var(--font-family-secondary);
//       font-weight: 700;
//       font-size: 17px;
//       line-height: 32px;
//       letter-spacing: 0.01em;
//       color: var(--foreground);
//       margin-bottom: 21px;
//     }

//     &__fields {
//       display: flex;
//       flex-direction: column;
//       gap: 17px;
//       margin-bottom: 8px;
//     }
//   }

//   &__submit-btn {
//     width: 100%;
//     margin-bottom: 9px;

//     @include mixins.respond-to(sm) {
//       font-size: 14px;
//     }
//   }

//   .registration-form-checkbox {
//     display: flex;
//     align-items: center;
//     font-family: Arial, sans-serif;

//     &__input {
//       display: none;

//       &:checked + .registration-form-checkbox__label::before {
//         background-color: var(--accent);
//         border-color: var(--accent);
//         content: "✔";
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         color: var(--foreground-secondary);
//         font-size: 12px;
//       }
//     }

//     &__label {
//       display: flex;
//       align-items: center;
//       cursor: pointer;
//       position: relative;

//       &::before {
//         content: "";
//         width: 14px;
//         height: 14px;
//         border: 1.5px solid var(--accent);
//         display: inline-block;
//         margin-right: 8px;
//         box-sizing: border-box;
//         text-align: center;
//         line-height: 14px;
//         font-size: 12px;
//       }
//     }

//     &__text {
//       font-family: var(--font-family-secondary);
//       font-weight: 500;
//       font-size: 13px;
//       line-height: 32px;
//       letter-spacing: 0.01em;
//       color: var(--muted-text);
//     }

//     &__link {
//       color: var(--accent);
//       font-weight: 600;
//       margin-left: 4px;
//     }
//   }
// }

//  {%from "src/shared/ui/form-field/form-field.html" import formField%}
// {%from "src/shared/ui/button/button.html" import button%}

// {%macro registrationForm()%}
// <form action="" class="registration-form">
//     <div class="registration-form__title">Регистрация</div>
//     <div class="registration-form__body">
//         <div class="registration-form__col-left">
//             <div class="registration-form__group">
//             <div class="registration-form__item registration-form-item">
//                 <div class="registration-form-item__title">1. Контактные данные</div>
//                 <div class="registration-form-item__fields">
//                     {{ formField(name="full-name", placeholder="ФИО", requierd=true) }}
//                     {{ formField(name="email", placeholder="Email", requierd=true) }}
//                     {{ formField(name="phone", placeholder="Телефон", requierd=true) }}
//                 </div>
//             </div>
//             <div class="registration-form__item registration-form-item">
//                 <div class="registration-form-item__title">2. Адрес</div>
//                 <div class="registration-form-item__fields">
//                     {{ formField(name="country", placeholder="Страна") }}
//                     {{ formField(name="region", placeholder="Область") }}
//                     {{ formField(name="city", placeholder="Город", requierd=true) }}
//                     {{ formField(name="address", placeholder="Адрес") }}
//                 </div>
//             </div>
//             <div class="registration-form__item registration-form-item">
//                 <div class="registration-form-item__title">3. Пароль</div>
//                 <div class="registration-form-item__fields">
//                     {{ formField(name="password", placeholder="Пароль", requierd=true) }}
//                     {{ formField(name="confirm-password", placeholder="Подтвердите пароль", requierd=true) }}
//                 </div>
//             </div>
//             </div>

//         </div>
//         <div class="registration-form__col-right">
//             <div class="registration-form__item registration-form-item">load image</div>
//             <div class="registration-form__group">
//                 <div class="registration-form__item registration-form-item">
//                     <div class="registration-form-item__title">1. Риквизиты</div>
//                     <div class="registration-form-item__fields">
//                         {{ formField(name="full-name", placeholder="ФИО", requierd=true) }}
//                         {{ formField(name="email", placeholder="Email", requierd=true) }}
//                         {{ formField(name="phone", placeholder="Телефон", requierd=true) }}
//                     </div>
//                 </div>
//                 <div class="registration-form__item registration-form-item">
//                     <div class="registration-form-item__title">2. ЕЕКК</div>
//                     <div class="registration-form-item__fields">
//                         {{ formField(name="country", placeholder="Страна") }}
//                         {{ formField(name="region", placeholder="Область") }}
//                         {{ formField(name="city", placeholder="Город", requierd=true) }}
//                         {{ formField(name="address", placeholder="Адрес") }}
//                     </div>
//                 </div>
//             </div>
//         </div>
//         <div class="registration-form__footer">
//             <div class="registration-form-checkbox">
//                 <input type="checkbox" id="agree" class="registration-form-checkbox__input">
//                 <label for="agree" class="registration-form-checkbox__label">
//                     <span class="registration-form-checkbox__text">Я согласен с <span
//                             class="registration-form-checkbox__link">Условиями регистрации</span></span>
//                 </label>
//             </div>
//             {{button(text="Продолжить", class="button_primary button_size-lg registration-form__submit-btn")}}
//         </div>
//     </div>
// </form>
// {%endmacro%}
