@use "@/app/styles/index.scss" as *;
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/socials/socials.scss" as *;
@use "@/shared/ui/dropdown/dropdown.scss" as *;
@use "@/shared/ui/logo/logo.scss" as *;
@use "@/shared/ui/contacts-block/contacts-block.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/contacts-section/contacts-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;
@use "@/shared/ui/table/table.scss" as *;
@use "@/pages/checkout/sections/checkout-section.scss" as *;
@use "@/shared/ui/form-field/form-field.scss" as *;
@use "@/pages/checkout/sections/breadcrumbs/breadcrumbs.scss" as *;
@use "@/widgets/breadcrumbs/breadcrumbs.scss" as *;
@use "@/shared/ui/radio/radio.scss" as *;
@use "@/shared/ui/overlay-spinner/overlay-spinner.scss" as *;
@use "@/shared/ui/form-item/form-item.scss" as *;
@use "@/shared/ui/user-info-bar/user-info-bar.scss" as *;
@use "@/shared/ui/flag/flag.scss" as *;
@use "@/features/checkout/ui/checkout-form.scss" as *;
