@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

$bp-mobile: 999px;

.product-content__tabs {
  .tabs__nav-wrapper {
    justify-content: center;
    gap: functions.fluidValue(20px, 79px, 360px, 1920px);

    @include mixins.pageContainer();

    @include mixins.respond-to(lg-sm) {
      gap: 0;
      justify-content: space-evenly;
    }

    @include mixins.respond-to($bp-mobile) {
      justify-content: space-between;
    }
  }

  .tabs__content {
    padding-block: functions.fluidValue(20px, 55px, 360px, 1920px);

    @include mixins.pageContainer();
  }
}

.product-description {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: functions.fluidValue(20px, 60px, 360px, 1920px);

  @include mixins.respond-to($bp-mobile) {
    grid-template-columns: 1fr;
  }

  &__col-1 {
    @include mixins.respond-to($bp-mobile) {
      display: none;
    }
  }

  &__col-2 {
    padding-top: 5px;

    @include mixins.respond-to(lg-sm) {
      padding-top: 0;
    }
  }

  &__image-wrapper {
    aspect-ratio: 409/503;
    max-width: 409px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__text {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--foreground);
    max-height: 510px;
    overflow-y: auto;
    padding-right: 10px;

    @include mixins.respond-to(lg-sm) {
      max-height: 500px;
    }

    @include mixins.respond-to($bp-mobile) {
      max-height: none;
      overflow-y: visible;
      padding-right: 0;
      font-size: 14px;
    }
  }

  &__paragraph-1 {
    margin-bottom: functions.fluidValue(16px, 38px, 360px, 1920px);
  }

  &__paragraph-2 {
    margin-bottom: 11px;
  }

  &__accent {
    font-weight: 600;
    color: var(--accent);
  }

  &__title {
    font-weight: 600;
    margin-bottom: 10px;
  }

  &__list {
    padding-left: 19px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 13px;

    li {
      list-style: disc;

      &::marker {
        color: var(--border-color);
      }
    }
  }
}

.product-packing {
  display: flex;
  justify-content: center;

  &__wrapper {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: var(--foreground);
    display: grid;
    gap: 10px;
    max-width: 1046px;

    @include mixins.respond-to($bp-mobile) {
      max-width: none;
      font-size: 14px;
    }
  }
}
