@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: functions.fluidValue(12px, 30px, 360px, 1920px);
  row-gap: functions.fluidValue(12px, 49px, 360px, 1920px);

  @include mixins.respond-to(md) {
    grid-template-columns: repeat(auto-fill, minmax(min(336px, 100%), 1fr));
  }

  @include mixins.respond-to(713px) {
    grid-template-columns: minmax(auto, 410px);
    justify-content: center;
  }
}
