@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.registration-section {
  padding-top: functions.fluidValue(20px, 34px, 360px, 1920px);
  padding-bottom: functions.fluidValue(40px, 90px, 360px, 1920px);
}
