.video-card {
  position: relative;

  &__img {
    object-fit: cover;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.6s ease;
  }

  &__button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
  }

  &_playing {
    .video-card__video {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }

    .video-card__button {
      display: none;
    }
  }
}
