@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-content {
  padding-top: functions.fluidValue(20px, 42px, 360px, 1920px);
  padding-bottom: 22px;

  &__card {
    margin-bottom: functions.fluidValue(40px, 76px, 360px, 1920px);
  }
}
