@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;
// functions.fluidValue(5px, 31px, 360px, 1920px);

.checkout-section {
  .checkout-form {
    max-width: 474px;
  }
}
