@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.checkout-section {
  padding-bottom: 99px;

  @include mixins.respond-to(lg-sm) {
    padding-bottom: functions.fluidValue(30px, 99px, 360px, 1920px);
  }

  .checkout-form {
    max-width: 474px;
  }
}
