@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

@mixin zoom() {
  .zoom {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%);
    width: 45px;
    height: 45px;
    background-color: #93b474;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.1s ease-in, opacity 0.1s ease-in,
      visibility 0.1s ease-in;
    opacity: 0;
    visibility: hidden;

    &:hover {
      box-shadow: 0 0 0px 5px rgba(255, 255, 255, 0.15);
    }

    @content;
  }
}

@mixin price() {
  .price {
    display: flex;
    align-items: center;

    &__label {
      font-family: var(--font-family-secondary);
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.01em;
      color: var(--foreground);
      margin-right: 8px;
    }

    &__current-price {
      font-family: var(--font-family-secondary);
      font-weight: 600;
      font-size: 15px;
      letter-spacing: 0.01em;
      color: var(--foreground-tertiary);
      margin-right: 4px;

      .price-number {
        font-weight: 600;
        font-size: 20px;
      }
    }

    &__old-price {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 0.01em;
      color: var(--muted-text);
      text-decoration: line-through;

      .price-number {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  @content;
}
