@use "@/entities/product/ui/product-card/_product-card-mixins" as
  product-card-mixins;
@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.product-details-card {
  --border-color-muted: rgba(0, 0, 0, 0.08);
  $bp-mobile: 904px;
  display: grid;
  grid-template-columns: 42.869% 1fr;
  column-gap: functions.fluidValue(20px, 75px, 905px, 1920px);

  @include mixins.respond-to($bp-mobile) {
    grid-template-columns: auto;
    row-gap: 20px;
  }

  &__col-1 {
    padding-top: 4px;
  }

  &__image-wrapper {
    aspect-ratio: 553/571;
    width: 100%;
    background: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
    border: 1px solid var(--border-color-muted);

    @media (hover: hover) {
      &:hover {
        box-shadow: 0px 0px 0px 1.5px var(--border-color);

        .product-details-card-swiper__next,
        .product-details-card-swiper__prev {
          opacity: 1;
          visibility: visible;
        }
      }

      &:hover .product-details-card__zoom {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include product-card-mixins.zoom {
    top: 3.5%;
    right: 3%;
    left: auto;
    transform: none;
  }

  .product-details-card-swiper {
    height: 100%;

    .swiper-slide {
    }

    &__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
      padding-block: 40px;
    }

    &__next,
    &__prev {
      position: absolute;
      z-index: 1;
      cursor: pointer;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.1s ease-in, visibility 0.1s ease-in;
      user-select: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;

      @media (hover: none) {
        opacity: 1;
        visibility: visible;
      }

      path {
        fill: var(--foreground-tertiary);
      }
    }

    &__prev {
      left: 14px;
      top: 50%;
    }

    &__next {
      right: 14px;
      top: 50%;
    }
  }

  .swiper-button-disabled {
    cursor: auto;
    path {
      fill: #c4c4c4;
    }
  }

  .info {
    &__top {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-bottom: 18px;
    }

    &__sku {
      font-family: var(--font-family-secondary);
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--muted-text);

      @include mixins.respond-to($bp-mobile) {
        font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
      }
    }

    &__title {
      font-weight: 700;
      font-size: 18px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--accent);

      @include mixins.respond-to($bp-mobile) {
        font-size: functions.fluidValue(14px, 18px, 360px, 1920px);
      }
    }

    &__subtitle {
      font-weight: 800;
      font-size: 30px;
      line-height: 32px;
      letter-spacing: 0.02em;
      color: var(--foreground);
      max-width: 450px;
      margin-bottom: 41px;

      @include mixins.respond-to($bp-mobile) {
        font-size: functions.fluidValue(18px, 30px, 360px, 1920px);
        line-height: functions.fluidValue(20px, 32px, 360px, 1920px);
        margin-bottom: functions.fluidValue(20px, 41px, 360px, 1920px);
        max-width: 100%;
      }
    }

    .properties {
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-template-rows: repeat(4, max-content);
      column-gap: functions.fluidValue(20px, 54px, 360px, 1920px);
      margin-bottom: 36px;

      @include mixins.respond-to($bp-mobile) {
        margin-bottom: functions.fluidValue(20px, 36px, 360px, 1920px);
      }

      @include mixins.respond-to(550px) {
        grid-template-columns: 1fr;
        row-gap: 5px;
      }

      &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 17px;
        letter-spacing: 0.03em;
        color: var(--foreground);

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(12px, 16px, 360px, 1920px);
        }
      }

      &__value {
        font-family: var(--font-family-secondary);
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: var(--muted-text);

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(12px, 15px, 360px, 1920px);
        }
      }

      .properties__composition.properties__value {
        margin-bottom: 27px;
        max-width: 358px;

        @include mixins.respond-to($bp-mobile) {
          margin-bottom: functions.fluidValue(20px, 27px, 360px, 1920px);
          max-width: 100%;
        }
      }

      .properties__weight.properties__value {
        margin-bottom: 38px;

        @include mixins.respond-to($bp-mobile) {
          margin-bottom: functions.fluidValue(20px, 38px, 360px, 1920px);
        }
      }

      .properties__energy.properties__value {
        margin-bottom: 38px;

        @include mixins.respond-to($bp-mobile) {
          margin-bottom: functions.fluidValue(20px, 38px, 360px, 1920px);
        }
      }
    }

    .storage-conditions {
      display: flex;
      gap: functions.fluidValue(10px, 28px, 360px, 1920px);
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.08);
      background-color: var(--background-secondary);
      padding-block: functions.fluidValue(5px, 20px, 360px, 1920px);
      padding-inline: functions.fluidValue(5px, 16px, 360px, 1920px);
      margin-bottom: functions.fluidValue(16px, 36px, 360px, 1920px);

      @include mixins.respond-to($bp-mobile) {
        margin-bottom: functions.fluidValue(20px, 36px, 360px, 1920px);
      }

      &__icon svg {
        width: functions.fluidValue(20px, 28px, 360px, 1920px);
        height: functions.fluidValue(20px, 28px, 360px, 1920px);
      }

      &__text {
        font-family: var(--font-family-secondary);
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        color: var(--foreground);
        max-width: 570px;

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(11px, 15px, 360px, 1920px);
        }
      }
    }

    &__bottom {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      gap: 35px;

      @include mixins.respond-to($bp-mobile) {
        gap: functions.fluidValue(20px, 35px, 360px, 1920px);
        justify-content: flex-start;
      }
    }

    @include product-card-mixins.price {
      .price__label {
        font-family: var(--font-family-secondary);
        font-weight: 600;
        font-size: 18px;
        letter-spacing: 0.01em;
        color: var(--foreground);
        white-space: nowrap;

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(14px, 18px, 360px, 1920px);
        }
      }

      .price__value {
        white-space: nowrap;
      }

      .price__current-price {
        font-size: 16px;

        @include mixins.respond-to($bp-mobile) {
          font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
        }

        .price-number {
          font-size: 24px;

          @include mixins.respond-to($bp-mobile) {
            font-size: functions.fluidValue(15px, 24px, 360px, 1920px);
          }
        }
      }

      .price__old-price {
        font-size: 14px;

        .price-number {
          font-size: 18px;

          @include mixins.respond-to($bp-mobile) {
            font-size: functions.fluidValue(14px, 18px, 360px, 1920px);
          }
        }
      }
    }

    .price {
      align-items: baseline;
      padding-top: 4px;
    }

    &__button {
      font-size: 16px;
      padding-inline: 59px;

      @include mixins.respond-to($bp-mobile) {
        font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
      }
    }
  }
}
