.table {
  display: grid;
  column-gap: 20px;
  width: 100%;

  &__head,
  &__body {
    display: contents;
  }

  &__row {
    align-items: center;
    padding-block: 14px;
    padding-inline: 16px;
    border-bottom: 1px solid var(--light-gray);
    transition: background 0.15s ease;

    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 /-1;

    &_head {
      padding-block: 17px;
      background-color: var(--background-secondary);
      border-bottom: none;
    }

    &:focus {
      outline: 1px solid var(--border-color);
      outline-offset: 0px;
      background-color: var(--light-green);

      .quantity__input {
        border: 1px solid var(--border-color);
      }
    }

    @media (hover: hover) {
      &:hover:not(.table__row_head) {
        background-color: var(--light-green);
      }
    }
  }

  &__cell {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: var(--foreground);
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    justify-self: center;

    &_head {
      font-family: var(--font-family-primary);
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
}

.quantity {
  display: flex;
  align-items: center;
  gap: 8px;

  &__input {
    border: 1px solid var(--light-gray);
    width: 44px;
    height: 28px;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    color: var(--foreground);
    transition: border 0.15s ease;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__decrease:hover,
  &__increase:hover {
    path {
      fill: var(--border-color);
    }
  }
}
