@use "@/app/styles/index.scss" as *;
@use "swiper/css";
@use "@/widgets/header/header.scss" as *;
@use "@/shared/ui/socials/socials.scss" as *;
@use "@/shared/ui/dropdown/dropdown.scss" as *;
@use "@/shared/ui/logo/logo.scss" as *;
@use "@/shared/ui/contacts-block/contacts-block.scss" as *;
@use "@/shared/ui/button/button.scss" as *;
@use "@/shared/ui/nav-menu/nav-menu.scss" as *;
@use "@/widgets/contacts-section/contacts-section.scss" as *;
@use "@/widgets/footer/footer.scss" as *;

@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.not-found-section {
  display: flex;
  justify-content: center;
  padding-top: 111px;
  padding-bottom: 98px;

  .not-found {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__image-wrapper {
      padding-bottom: 34px;
    }

    &__text {
      font-weight: 500;
      font-size: functions.fluidValue(16px, 18px, 360px, 1920px);
      line-height: 30px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--foreground);
      margin-bottom: 16px;
    }

    &__link {
      font-weight: 700;
      font-size: functions.fluidValue(14px, 16px, 360px, 1920px);
      line-height: 17px;
      color: var(--foreground-tertiary);
      border: 1.5px solid var(--foreground-tertiary);
      letter-spacing: 0;
      display: flex;
      gap: 11px;
      padding-inline: 25px;

      @media (hover: hover) {
        &:hover {
          color: var(--foreground-secondary);

          path {
            fill: var(--foreground-secondary);
          }
        }
      }

      svg {
        transform: rotateY(180deg);

        path {
          fill: var(--foreground-tertiary);
        }
      }
    }
  }
}
