@use "@/app/styles/mixins" as mixins;
@use "@/app/styles/functions" as functions;

.products-benefits {
  padding-top: functions.fluidValue(50px, 81px, 360px, 1920px);
  padding-bottom: functions.fluidValue(50px, 101px, 360px, 1920px);

  &__description {
    max-width: 560px;
    margin-bottom: 64px;
  }

  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

    @include mixins.respond-to(lg-sm) {
      gap: 24px;
    }

    @include mixins.respond-to(sm) {
      gap: 12px;
    }

    &__item {
      container-type: inline-size;
      flex: 1;
      min-width: 336px;
      max-width: 410px;
      aspect-ratio: 410 / 525;
      position: relative;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: default;

      @include mixins.respond-to(1103px) {
        flex: 0 1 355px;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(51, 125, 90, 0.95);
        z-index: -1;
        opacity: 0;
        visibility: hidden;
        transition: all 0.5s ease;

        @include mixins.respond-to(md) {
          display: none;
        }
      }

      @media (hover: hover) {
        &:hover .grid__description {
          max-height: 250px;
          opacity: 1;
          visibility: visible;
          transition: all 0.6s ease;
        }

        &:hover:after {
          opacity: 1;
          visibility: visible;
          transition: all 0.5s ease;
        }
      }
    }

    &__image-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
    }

    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &__icon-wrapper {
      margin-bottom: 15px;

      svg {
        width: functions.fluidValue(45px, 51px, 360px, 1920px);
        height: functions.fluidValue(45px, 51px, 360px, 1920px);
      }
    }

    &__title {
      font-weight: 800;
      font-size: functions.fluidValue(25px, 40px, 360px, 1920px);
      letter-spacing: 0.01em;
      color: var(--foreground-secondary);
      margin-bottom: 22px;
    }

    &__description {
      font-weight: 600;
      font-size: functions.fluidValue(14px, 18px, 360px, 1920px);

      line-height: 24px;
      letter-spacing: 0.01em;
      text-align: center;
      color: var(--foreground-secondary);
      max-width: 330px;
      display: flex;
      flex-direction: column;
      gap: 13px;
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      padding-inline: 5px;

      transition: all 0.6s ease;

      @media (hover: none) {
        max-height: 250px;
        opacity: 1;
        visibility: visible;
        overflow: hidden;
      }
    }
  }
}
