.tabs {
  --tab-border: 1px solid #e0e0e0;
  --tab-border-active-color: var(--border-color-secondary);
  --tab-active-color: var(--foreground);
  --tab-hover-bg: #f8f9fa;

  &__nav {
    display: flex;
    justify-content: center;
    border-bottom: var(--tab-border);
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 83px;
  }

  &__nav-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-block: 15px;
    padding-inline: 28px;
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    font-weight: 600;
    font-size: 18px;
    color: #5b5b5b;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      background: var(--tab-hover-bg);
    }

    &[aria-selected="true"] {
      color: var(--tab-active-color);
      border-bottom-color: var(--tab-border-active-color);
      //   font-weight: 700;
    }
  }

  &__nav-icon {
    display: flex;
    align-items: center;
    font-size: 1.1em;

    svg,
    i {
      width: 1em;
      height: 1em;
    }
  }

  &__nav-label {
    white-space: nowrap;
  }

  &__content {
    padding: 20px 0;
  }

  &__panel {
    &[hidden] {
      display: none;
    }
  }
}
