@use "@/app/styles/functions" as functions;
@use "@/app/styles/mixins" as mixins;

.news-gallery {
  padding-bottom: functions.fluidValue(20px, 100px, 360px, 1920px);

  &__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: functions.fluidValue(14px, 21px, 360px, 1920px);
    margin-bottom: functions.fluidValue(20px, 66px, 360px, 1920px);
  }

  &__title {
    font-weight: 800;
    font-size: functions.fluidValue(20px, 45px, 360px, 1920px);
    letter-spacing: 0.01em;
    color: var(--foreground);
  }

  &__description {
    font-weight: 500;
    font-size: functions.fluidValue(14px, 18px, 360px, 1920px);
    line-height: 22px;
    letter-spacing: 0.01em;
    color: var(--foreground);
  }

  &__bottom {
    display: flex;
    justify-content: center;
    margin-top: functions.fluidValue(30px, 68px, 360px, 1920px);
  }

  &__see-more {
    padding-inline: functions.fluidValue(27px, 35px, 360px, 1920px);
    padding-block: 17px;
    font-weight: 700;
    font-size: functions.fluidValue(13px, 14px, 360px, 1920px);
    letter-spacing: 0.02em;
  }

  &__news-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 60px;

    @include mixins.respond-to(lg-sm) {
      gap: functions.fluidValue(12px, 30px, 360px, 1920px);
    }

    @include mixins.respond-to(700px) {
      grid-template-columns: repeat(1, 1fr);
    }

    .secondary-card {
      grid-column: 1 / 4;
      aspect-ratio: 1290 / 556;

      @include mixins.respond-to(700px) {
        grid-column: auto;
        aspect-ratio: 1.5;
      }
    }
  }

  .news-section-card {
    &_horizontal {
      display: grid;
      grid-template-columns: subgrid;
      grid-column: 1 / 4;
      align-items: center;

      @include mixins.respond-to(lg-sm) {
        align-items: flex-start;
      }

      @include mixins.respond-to(md) {
        position: relative;
      }

      @include mixins.respond-to(700px) {
        display: block;
        grid-column: auto;
      }

      .news-section-card__description {
        display: grid;
        row-gap: 13px;
        font-size: 16px;
        line-height: 25px;

        @include mixins.respond-to(lg-sm) {
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 12px;
        }

        @include mixins.respond-to(md) {
          @include mixins.line-clamp();
          font-size: 12px;
        }
      }

      .news-section-card__title {
        line-height: 26px;
        font-size: 22px;

        @include mixins.respond-to(lg-sm) {
          line-height: 20px;
          font-size: functions.fluidValue(14px, 22px, 360px, 1920px);
          margin-bottom: 12px;
        }

        @include mixins.respond-to(md) {
          br {
            display: none;
          }
        }
      }

      .news-section-card__image-wrapper {
        grid-column: 1 / 3;
        margin: 0;
        aspect-ratio: 849 / 526;

        @include mixins.respond-to(md) {
          grid-column: 1/4;
          aspect-ratio: 1290 / 556;
        }

        @include mixins.respond-to(700px) {
          aspect-ratio: 1.5;
        }
      }
      .news-section-card__content {
        padding-inline: 20px;
        overflow-y: auto;

        @include mixins.respond-to(lg-sm) {
          padding: 0;
          aspect-ratio: 203 / 278;
        }

        @include mixins.respond-to(md) {
          aspect-ratio: auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          padding: 12px;

          > * {
            color: var(--foreground-secondary);
          }
        }
      }

      .video-card__button {
        display: none;
      }
    }

    &__image-wrapper {
      background-color: var(--skeleton-background);
      width: 100%;
      max-width: none;

      @media (hover: hover) {
        &:hover .video-card__button {
          opacity: 1;
          visibility: visible;
          transition: all 0.3s ease;
        }
      }

      @include mixins.respond-to(700px) {
        aspect-ratio: 1.5;
      }
    }

    &__content {
      padding-left: 0;
      padding-right: 47px;
    }

    &__description {
      max-width: 100%;
    }

    .video-card__button {
      @media (hover: hover) {
        opacity: 0;
        visibility: hidden;
      }
    }
  }
}

.news-gallery-card {
  background-color: var(--skeleton-background);
  position: relative;
  width: 100%;
  height: 100%;

  &__content {
    position: relative;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-inline: functions.fluidValue(20px, 40px, 360px, 1920px);
    padding-block: functions.fluidValue(20px, 126px, 360px, 1920px);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;

    @include mixins.respond-to(lg-sm) {
      justify-content: center;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__title {
    font-family: var(--font-family-secondary);
    font-weight: 800;
    font-size: functions.fluidValue(14px, 22px, 360px, 1920px);
    letter-spacing: 0.01em;
    color: var(--foreground-secondary);
    max-width: 489px;
    margin-bottom: 12px;

    @media (hover: hover) {
      &:hover {
        color: var(--foreground-tertiary);
      }
    }
  }

  &__description {
    font-family: var(--font-family-secondary);
    font-weight: 500;
    font-size: functions.fluidValue(12px, 14px, 360px, 1920px);
    line-height: functions.fluidValue(18px, 22px, 360px, 1920px);
    color: var(--foreground-secondary);
    max-width: 563px;
    text-align: center;
  }

  &__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.6s ease;
  }

  &__play-button {
    margin-bottom: 27px;
    position: static;
    top: auto;
    left: auto;
    transform: none;
    padding: 0;
  }

  &__play-icon {
    width: functions.fluidValue(45px, 61px, 360px, 1920px);
    height: functions.fluidValue(45px, 61px, 360px, 1920px);
  }

  &.video-card_playing {
    .news-gallery-card__video {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
      // transition: all 0.6s ease;
    }

    .news-gallery-card__content {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease;
    }
  }
}
