.profile-contacts-form {
  $items-gap: 20.5px;
  max-width: 635px;

  &__body {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
  }

  &__item {
    margin-bottom: $items-gap;

    &_contacts {
      flex: 1 1 auto;
    }
  }

  .form-item__fields {
    gap: $items-gap;
    padding: 2px;
  }

  .form-field {
    min-width: 330px;
  }

  &__submit-btn {
    padding-inline: 72px;
  }

  &__footer {
    margin-top: $items-gap;
  }
}
