.page-header {
  position: sticky;
  top: 0;
  .topbar {
    padding: 0.875rem 0;
    background-color: $black-100;
    // background-color: red;

    @media (max-width: $breakpoint-sm) {
      padding: 0.3125rem 0;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-family: $font-family-primary;
      font-weight: 400;
      font-size: 0.75rem;
      color: $color-secondary;
      line-height: 1.334;

      @media (max-width: $breakpoint-sm) {
        justify-content: center;
      }
    }

    &__info {
      display: flex;
      align-items: center;
      gap: 0.9375rem;

      @media (max-width: $breakpoint-sm) {
        font-size: 10px;
      }
    }

    &__auth {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      &:hover {
        color: $color-primary;
        transition: 0.3s;
      }

      &:hover path {
        fill: $color-primary;
        transition: 0.3s;
      }

      @media (max-width: $breakpoint-sm) {
        display: none;
      }
    }
  }

  .navbar {
    background-color: $black-90;

    &__content {
      display: flex;
      align-items: center;
    }

    // &__right-group {
    //   display: flex;
    //   align-items: center;
    //   gap: 0.5rem;
    // }

    &__logo {
      margin-right: auto;
      // height: 40px;
      // line-height: 40px;

      .logo {
        @media (max-width: $breakpoint-sm) {
          font-size: 24px;
          margin-top: 2px;
        }
      }
    }

    &__burger-btn {
      display: none;

      @media (max-width: $breakpoint-sm) {
        display: inline-flex;
        margin-right: 1.375rem;
      }
    }

    .actions {
      display: flex;
      align-items: center;
      gap: 1.375rem;
      margin-right: -0.5625rem;

      &__link {
        width: 2.5rem;
        height: 2.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;

        &:hover {
          background-color: $black-80;
        }
      }

      &__profile {
        display: none;

        @media (max-width: $breakpoint-sm) {
          display: flex;
        }
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;

    &__link {
      display: inline-flex;
      padding: 1.9375rem 1rem;
      font-family: $font-family-primary;
      font-weight: 400;
      font-size: 0.875rem;
      text-transform: uppercase;
      color: $color-primary;
      white-space: nowrap;
      transition: 0.3s;

      &:hover {
        background-color: $black-80;
      }
    }

    @media (max-width: $breakpoint-sm) {
      display: none;
    }
  }

  .mobile-menu {
    // display: none;
    position: fixed;
    top: 66px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: $black-90;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    overflow-x: hidden;

    &--open {
      opacity: 1;
      visibility: visible;
    }

    .menu {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-right: 0;

      &__link {
        font-size: 16px;
        padding: 20px 0px;
      }
    }
  }
}
